<include href="views/header.html"></include>
<include href="views/navigation.html"></include>
<main role="main" class="container">

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Welcome Zack!</h6>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@ 3-10-23</strong>
                Milk Tea | Normal | None<br>
                Jasmine Green Tea | Extra Sweet | Boba<br>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@ 3-10-23</strong>
                Milk Tea | Normal | None<br>
                Jasmine Green Tea | Extra Sweet | Boba<br>
            </p>
        </div>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@ 3-10-23</strong>
                Milk Tea | Normal | None<br>
                Jasmine Green Tea | Extra Sweet | Boba<br>
            </p>
        </div>
        <small class="d-block text-right mt-3">
            <a href="#">Order History</a>
        </small>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">About Us</h6>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Name:</strong>
                </div>
                <span class="d-block">Zack Dithilath</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Email:</strong>
                </div>
                <span class="d-block">DithiZac000@Gmail.com</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Phone Number:</strong>
                </div>
                <span class="d-block">123-456-7890</span>
            </div>
        </div>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">Password</strong>
                </div>
                <span class="d-block">*****</span>
            </div>
        </div>
    </div>
</main>
</body>
</html>