<include href="views/header.html"></include>
<body class="admin">
    <table class="table">
        <!-- table head -->
        <thead>
            <tr>
                <th scope="col">BOBA</th>
                <th scope="col">PHOTO</th>
                <th scope="col">PRICE</th>
                <th scope="col">QUANITITY</th>
                <th scope="col">SWEETNESS</th>
                <th scope="col">TOPPINGS</th>
                <th scope="col">DATE</th>
            </tr>
        </thead>
        <!-- table body-->
        <tbody>
            <!-- repeat block-->
            <repeat group="{{ @displaying }}" value="{{ @display }}">
                <tr>
                    <th scope="col">{{ @display['boba_name'] }}</th>
                    <th scope="row">{{ @display['img'] }}</th>
                    <td>{{ @display['price'] }}</td>
                    <td>{{ @display['quantity'] }}</td>
                    <td>{{ @display['sweetness'] }}</td>
                    <td>{{ @display['toppings'] }} </td>
                    <td>{{ @display['order_date'] }}</td>
                </tr>
            </repeat>
        </tbody> <!-- end of block -->
    </table> <!-- end of body-->
</body>
</html>