<include href="views/header.html"></include>
<title>Team Charm | Tea Shop | Admin</title> <!-- tab title -->
<include href="views/navigation.html"></include><!-- START OF TOP home page -->
<br>

    <!-- sign in section -->
    <form action="" method="POST" class="admin form-signin my-5 py-5">
        <div class="card">
            <div class="card-body">
                <ul id="form-messages"></ul> <br>
                <h4 class="card-title">Log In</h4> <br>
                <div class="card-text">
                    <label for="inputEmail">Email address</label>
                    <input name="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address"  > <br>
                    <p class="form-message">{{ @error }}</p>
                </div>
                <button class="btn btn-lg btn-secondary btn-block" id="btn-submit" type="submit">Sign in</button>
            </div>
        </div>
    </form>


</body>
</html>