        <footer>

            <div class="container-fluid px-0 col-10 mx-auto">
                <div class="container-fluid text-center my-5">
                    <div class="row">

                        <!-- box content footer -->
                        <div class="col-md-12 m-2 p-2">
                            <div class="card mb-12 box-shadow">
                                <h2>Contact Us</h2>
                                <h5>1221 D St NE, Auburn, WA 98002</h5>
                                <h5>(253) 911-8333</h5>
                                <h5>teamcharm@email.com</h5>

                                <h2>Open Hours</h2>
                                <div class="col-4">
                                    <h5><strong>Mon - Thu: </strong></h5>
                                    <h5><strong>Fri: </strong></h5>
                                </div>
                                <div class="col-8">
                                    <h5>1:00 pm - 3:00 pm</h5>
                                    <h5>1:00 am - 3:00 pm</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </body>
        </html>