        <footer>
            <div class="container-fluid col-11 mx-auto my-5">
                <div class="row">
                        <!-- text-center -->
                    <div class="col-md-12 uk-panel-box bg-light">
                        <div class="col-md-6 col-sm-12">
                            <h2>Contact Us</h2>
                            <h5>1221 D St NE, Auburn, WA 98002</h5>
                            <h5>(253) 911-8333</h5>
                            <h5>teamcharm@email.com</h5>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Open Hours</h2>
                            <div class="col-4">
                                <h5><strong>Mon - Thu: </strong></h5>
                                <h5><strong>Fri: </strong></h5>
                            </div>
                            <div class="col-8">
                                <h5>1:00 pm - 3:00 pm</h5>
                                <h5>1:00 am - 3:00 pm</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sticky bottom  button-->
            <nav class="navbar fixed-bottom sticky-bottom d-flex flex-row">
                <a  class="m-3 p-2" href="#"><strong>Back to top</strong>!</a>
            </nav>
        </footer>
        </body>
        </html>