<include href="views/header.html"></include>
<body>
<include href="views/navigation.html"></include>

<div class="container-fluid px-0 col-10 mx-auto">
    <div class="container-fluid text-center my-5">
        <div class="row">
            <!-- box content about -->
            <div class="col-md-12 m-2 p-2">
                <div class="card mb-12 box-shadow">
                    <h2>Welcome to Boba Charm</h2>
                    <div class="card-body">
                        <p class="card-text">Team Charm (Japanese: チャームズ Charms) is an exploration team in Pokémon
                            Mystery Dungeon: Explorers of Time and Explorers of Darkness and Pokémon Mystery Dungeon:
                            Explorers of Sky. It consists of Lopunny, Medicham and Gardevoir. For our love for this game
                            and these Pokemon, we (Dale, Jasmine, and Zack) decided to create a boba shop
                            website with team's Charm inspirations.  ---"bulbapedia.net"</p>
                        <div class="d-flex justify-content-between flex-row-reverse logo">
                            <img class="img-fluid logo opacity-full" src="images/boba-charm-pink.png" alt="Boba Charm Logo">
                        </div> <!-- end of logo -->
                    </div> <!-- end of car body-->
                </div> <!--end of box content  -->
            </div> <!-- end of col-md-12 -->


            <!-- box content message -->
            <div class="col-md-6  m-2 p-2">
                <div class="card mb-12 box-shadow">
                    <h2>Finest Ingredients</h2>
                    <div class="card-body">
                        <p class="card-text">Our drinks are made from the finest ingredients and use only high-quality
                            tea leaves instead of artificial flavors to produce the best tasting tea.
                            We test the tea leaves and ingredients to ensure our drinks’ consistency.

                        </p>
                        <img class="img-fluid img-thumbnail opacity-75" src="images/team-charm.png"  alt=" Team Charm Adventure">
                    </div> <!-- end of car body-->
                </div> <!--end of box content  -->
            </div> <!-- end of col-md-6 -->

            <!-- box content for carousel -->
            <div class="col-md-5  m-2 p-2 ">
                <div class="card mb-6 box-shadow">
                    <h2>The Boba Gallery</h2>
                    <div class="card-body">
                        <!-- start of carousel-->
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h5>Milk Tea Boba</h5>
                                    <img src="menu-images/classic-milk-tea.jpg" class="d-block w-100 slides" alt="Milk Tea Boba">
                                </div>
                                <div class="carousel-item">
                                    <h5>Green Milk Tea Boba</h5>
                                    <img src="menu-images/green-milk-tea.jpg" class="d-block w-100 slides" alt="Green Milk Tea Boba">
                                </div>
                                <div class="carousel-item">
                                    <h5>Passion Fruit Tea</h5>
                                    <img src="menu-images/passion-fruit-tea.jpg" class="d-block w-100 slides" alt="Passion Fruit Tea">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                             </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        </div><!-- end of carousel inner -->
=                    </div> <!-- end of car body-->
                </div> <!--end of box content  -->
            </div> <!-- end of col-md-6 -->

        </div> <!-- end of row -->
    </div> <!-- end of  2nd main div -->
</div> <!-- End of our main div -->

<div class="fixed-bottom d-flex flex-row-reverse"> <!-- order now button cotent -->
    <nav class="navbar">
        <a role="button" class="btn btn-primary btn-sm m-3 p-2" href="menu">Order Your Drink Now!</a>
    </nav>
</div>

<include href="views/footer.html"></include>

