<include href="views/header.html"></include>

<div class="sidenav">
    <a href="#">Milk Teas</a>
    <a href="#fruit">Fruit Teas</a>
    <a href="#blended">Smoothies</a>
    <a href="#contact">Toppings</a>
</div>
<!-- boba tea options -->
<div class="album py-5 light p-2 text-dark">
    <div class="container">
        <div class="row">
            <!-- milk tea series -->
            <div class="col-md-12 ">
                <h2 class="menu-title ">Milk Tea Series</h2>
                <hr class="featurette-divider ">
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/classic-milk-tea.jpg" alt="Classic Black Milk Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Classic Milk Tea</strong>: made with our freshly brewed loose-leaf black tea and non-dairy creamer</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/green-milk-tea.jpg" alt="Green Milk Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Jasmine Green Milk Tea</strong>: made with our freshly brewed loose-leaf jasmine green tea and non-dairy creamer</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top " src="menu-images/thai-milk-tea.jpg" alt="Thai Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Thai Milk Tea</strong>: made with our freshly brewed loose-leaf thai black tea and half&half</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fruit tea series -->
            <div class="col-md-12" id="fruit">
                <h2 class="menu-title ">Fruit Tea Series</h2>
                <hr class="featurette-divider">
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/passion-fruit-tea.jpg" alt="Passion Iced Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Passion Iced Tea</strong>: include the option of our freshly brewed loose-leaf black or green tea.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/berries-tea.jpg" alt="Berries Iced Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Berry Much Iced Tea</strong>: infused black or green tea with the splash of blueberry and blackberry fruits.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/mango-tea.jpg" alt="Mango Iced Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Mango Iced Tea</strong>: include the option of our freshly brewed loose-leaf black or green tea.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- smoothies series -->
            <div class="col-md-12" id="blended">
                <h2 class="menu-title ">Blended Flavors Series</h2>
                <hr class="featurette-divider ">

            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/avocado-smoothies.jfif" alt="Avocado Smoothie">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Avocado Smoothie</strong>: made with our freshly cut avocado slices, condense milk, and Smith Brothers milk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/mango-slush.jpg" alt="Mango Icy">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Mango Icy</strong>: freshly cut champagne mango blended with honey and mango puree</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                            <small class="text-muted">*contains honey</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/taro-oreo-smoothies.jpg" alt="Galaxy Swirl">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Galaxy Swirl</strong>: taro flavored smoothies blended with Smith Brothers half&half, condensed milk, and topped with crush Oreo</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of row -->
    </div>

</div> <!-- end of boba div -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Add to Cart</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!-- title and price -->
                <input class="form-control bg-white" type="text" placeholder="Milk Tea" value="Milk Tea" readonly>
                <br>
                <input class="form-control" type="text" placeholder="5.95" value="5.95" readonly>
                <br>
                <!-- quantity amount label -->
                <label class="form-label" for="typeNumber">Quantity:</label>
                <input type="number" id="typeNumber" class="form-control"  value="1" min="0" max="99"/>
                <br>
                <!-- sweetness level -->
                <label class="form-label">Sweetness Level:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="sugar-level" value="Normal" checked>Normal
                    <label class="form-check-label" for="radio1"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="sugar-level" value="option2">Extra Sweet
                    <label class="form-check-label" for="radio2"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3" name="sugar-level" value="option3">Half Sweet
                    <label class="form-check-label" for="radio3"></label>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-m btn-outline-warning " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-m btn-outline-warning ">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom d-flex flex-row-reverse"> <!-- go to cart  button-->
    <nav class="navbar">
        <a role="button" class="btn btn-primary btn-sm m-3 p-2" href="cart">Go to Cart</a>
    </nav>
</div>

<include href="views/footer.html"></include>




