<include href="views/header.html"></include>
<title>Team Charm | Tea Shop | Menu</title> <!-- tab title -->
<include href="views/navigation.html"></include>

<div class="sidenav">
    <a href="#">Milk Teas</a>
    <a href="#fruit">Fruit Teas</a>
    <a href="#blended">Smoothies</a>
    <a href="#toppings">Toppings</a>
</div>
<!-- boba tea options -->
<div class="album py-5 m-3 position-relative overflow-hidden text-center ">
    <div class="container">



        <!-- start of row for milk tea -->

        <div class="row overflow-hidden bg-light rounded my-2">
            <!-- milk tea series -->
            <div class="col-md-12">
                <h1 class="display-4 font-weight-normal">Milk Tea Series</h1><br>
                <p class="lead font-weight-normal">Combination of smoothness and sweetness pairing nicely with our freshly brewed tea
                </p>
                <hr class="featurette-divider">
            </div>
            <!-- black tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid card-img-top" src="menu-images/classic-milk-tea.jpg"  data-toggle="modal" data-target="#milkTea" alt="Classic Black Milk Tea">
                    <div class="card-body">
                        <p class="card-text"><strong>Classic Milk Tea</strong>: made with our freshly brewed loose-leaf black tea and non-dairy creamer</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#milkTea">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- green milk tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid card-img-top" src="menu-images/green-milk-tea.jpg" data-toggle="modal" data-target="#greenTea" alt="Green Milk Tea">
                    <div class="card-body">
                        <p class="card-text"><strong>Jasmine Green Milk Tea</strong>: made with our freshly brewed loose-leaf jasmine green tea and non-dairy creamer</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#greenTea">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- thai  milk tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid card-img-top " src="menu-images/thai-milk-tea.jpg" data-toggle="modal" data-target="#thaiTea" alt="Thai Tea">
                    <div class="card-body">
                        <p class="card-text"> <strong>Thai Milk Tea</strong>: made with our freshly brewed loose-leaf thai black tea and half&half</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#thaiTea">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of row for milk tea  -->


        <br>


        <!-- start of row for fruit tea -->
        <div class="row overflow-hidden bg-light my-2">
        <!-- fruit tea series -->
            <div class="col-md-12" id="fruit">
                <h1 class="display-4 font-weight-normal">Fruit Tea Series</h1><br>
                <p class="lead font-weight-normal">
                    A wide selection of fresh fruit jam paired with our freshly brewed tea for a refreshing choice
                </p>
                <hr class="featurette-divider">
            </div>
            <!-- passion tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid" src="menu-images/passion-fruit-tea.jpg" data-toggle="modal" data-target="#passionTea" alt="Passion Iced Tea">
                    <div class="card-body">
                        <p class="card-text"> <strong>Passion Iced Tea</strong>: include the option of our freshly brewed loose-leaf black or green tea.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#passionTea">Add</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- berries tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid" src="menu-images/berries-tea.jpg" data-toggle="modal" data-target="#berryTea" alt="Berries Iced Tea">
                    <div class="card-body">
                        <p class="card-text"> <strong>Berry Much Iced Tea</strong>: infused black or green tea with the splash of blueberry and blackberry fruits.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#berryTea">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mango ice tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid" src="menu-images/mango-tea.jpg" data-toggle="modal" data-target="#mangoTea" alt="Mango Iced Tea">
                    <div class="card-body">
                        <p class="card-text"> <strong>Mango Iced Tea</strong>: include the option of our freshly brewed loose-leaf black or green tea.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#mangoTea">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end of fruit tea row -->


        <br>


        <!-- start of smoothie row -->
        <div class="row overflow-hidden bg-light rounded my-2">
            <!-- smoothie series -->
            <div class="col-md-12" id="blended">
                <h1 class="display-4 font-weight-normal">Smoothie Series</h1><br>
                <p class="lead font-weight-normal">
                    Ice cold drinks made with different flavors with the addition of topping available
                </p>
                <hr class="featurette-divider">
            </div>
            <!-- avocado smoothies-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid" src="menu-images/avocado-smoothies.jfif" data-toggle="modal" data-target="#avocadoSmoothie" alt="Avocado Smoothie">
                    <div class="card-body">
                        <p class="card-text"> <strong>Avocado Smoothie</strong>: made with our freshly cut avocado slices, condense milk, and Smith Brothers milk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#avocadoSmoothie">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mango smoothies-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid" src="menu-images/mango-slush.jpg" data-toggle="modal" data-target="#mangoIcy" alt="Mango Icy">
                    <div class="card-body">
                        <p class="card-text"> <strong>Mango Icy</strong>: freshly cut champagne mango blended with honey and mango puree</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#mangoIcy">Add</button>
                            </div>
                            <small class="text-muted">*contains honey</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- taro oreo smoothies-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid" src="menu-images/taro-oreo-smoothies.jpg" data-toggle="modal" data-target="#galaxySwirl" alt="Galaxy Swirl">
                    <div class="card-body">
                        <p class="card-text"> <strong>Galaxy Swirl</strong>: taro flavored smoothies blended with Smith Brothers half&half, condensed milk, and topped with crush Oreo</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#galaxySwirl">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of smoothie row -->

        <br>


        <!-- start of topping row -->
        <div class="row overflow-hidden bg-light rounded my-2">
            <div class="col-md-12" id="toppings">
                <h1 class="display-4 font-weight-normal">Available Toppings</h1><br>
                <p class="lead font-weight-normal">Selection of toppings of your choice...</p>
                <hr class="featurette-divider">
            </div>

            <!-- boba pearls -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluidcard-img-top" src="menu-images/tapiocaPearl.avif" alt="Tapioca Pearl toppings">
                    <div class="card-body">
                        <p class="card-text"> <strong>Tapioca Pearl</strong>: made with our fresh tapioca startch and sweet brown sugar</p>
                    </div>
                </div>
            </div>
            <!-- egg pudding -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid card-img-top " src="menu-images/puddingTopping.jpg" alt="Egg pudding">
                    <div class="card-body">
                        <p class="card-text"><strong>Egg Pudding</strong>: made with whole milk, non-dairy creamer, lactose-free milk, and sugar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- coconut rainbow jelly -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="img-fluid card-img-top" src="menu-images/rainbowJelly.webp" alt="Coconut rainbow Jelly">
                    <div class="card-body">
                        <p class="card-text"> <strong>Coconut Rainbow Jelly</strong>: a delicious chewy texture with a coconut primary base and a unique fruit flavoring syrup</p>
                    </div>
                </div>
            </div>
        </div> <!-- end of row for topping  -->

        <br>

        <!-- start row for contact us -->
        <div class="row overflow-hidden bg-light rounded my-2">
            <div class="container-fluid text-center my-5">
                <!-- box content footer -->
                <div class="col-md-12 m-2 p-2">
                    <h2>Contact Us</h2>
                    <p>1221 D St NE, Auburn, WA 98002</p>
                    <p>(253) 911-8333</p>
                    <hr>
                    <h2>Open Hours</h2>
                    <p>teamcharm@email.com</p>
                    <p>Mon - Sun</p>
                    <p>9:00 am - 10:00 pm</p>
                </div>
                <img class="img-fluid img-thumbnail opacity-75 my-2" src="images/badge.png"  alt="Pokemon Badge">
            </div>
        </div><!-- end row for contact us -->

    </div> <!-- end of container -->
</div> <!-- end of boba div -->



    <!-- use as js insert for modal -->
    <main>
    </main>



<!-- progress bar at bottom of page -->
<div class="progress-container fixed-bottom rounded">
    <div class="progress-bar fixed-bottom rounded" id="myBar"></div>
</div>

<!-- progress bar javascript -->
<script src="javascript/scroll-bar.js"></script>
<!-- use this script to loop our modal divs and associated with <main></main> -->
<script src="javascript/modal-list.js"></script>

</body>
</html>

