<include href="views/header.html"></include>

<div class="sidenav">
    <a href="#">Milk Teas</a>
    <a href="#fruit">Fruit Teas</a>
    <a href="#blended">Smoothies</a>
    <a href="#toppings">Toppings</a>
</div>
<!-- boba tea options -->
<div class="album py-5 light p-2 text-dark">
    <div class="container">
        <div class="row">
            <!-- milk tea series -->
            <div class="col-md-12 ">
                <h2 class="menu-title ">Milk Tea Series</h2>
                <hr class="featurette-divider ">
            </div>
            <!-- black tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/classic-milk-tea.jpg" alt="Classic Black Milk Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Classic Milk Tea</strong>: made with our freshly brewed loose-leaf black tea and non-dairy creamer</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- green milk tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/green-milk-tea.jpg" alt="Green Milk Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Jasmine Green Milk Tea</strong>: made with our freshly brewed loose-leaf jasmine green tea and non-dairy creamer</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- thai  milk tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top " src="menu-images/thai-milk-tea.jpg" alt="Thai Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Thai Milk Tea</strong>: made with our freshly brewed loose-leaf thai black tea and half&half</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fruit tea series -->
            <div class="col-md-12" id="fruit">
                <h2 class="menu-title ">Fruit Tea Series</h2>
                <hr class="featurette-divider">
            </div>
            <!-- passion tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/passion-fruit-tea.jpg" alt="Passion Iced Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Passion Iced Tea</strong>: include the option of our freshly brewed loose-leaf black or green tea.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- berries tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/berries-tea.jpg" alt="Berries Iced Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Berry Much Iced Tea</strong>: infused black or green tea with the splash of blueberry and blackberry fruits.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- manog ice tea-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/mango-tea.jpg" alt="Mango Iced Tea">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Mango Iced Tea</strong>: include the option of our freshly brewed loose-leaf black or green tea.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning ">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- smoothies series -->
            <div class="col-md-12" id="blended">
                <h2 class="menu-title ">Blended Flavors Series</h2>
                <hr class="featurette-divider ">

            </div>
            <!-- avocado smoothies-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/avocado-smoothies.jfif" alt="Avocado Smoothie">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Avocado Smoothie</strong>: made with our freshly cut avocado slices, condense milk, and Smith Brothers milk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#avocadoSmoothie">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mango smoothies-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/mango-slush.jpg" alt="Mango Icy">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Mango Icy</strong>: freshly cut champagne mango blended with honey and mango puree</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#mangoIcy">Add</button>
                            </div>
                            <small class="text-muted">*contains honey</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- taro oreo smoothies-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/taro-oreo-smoothies.jpg" alt="Galaxy Swirl">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Galaxy Swirl</strong>: taro flavored smoothies blended with Smith Brothers half&half, condensed milk, and topped with crush Oreo</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#galaxySwirl">Add</button>
                            </div>
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Toppings series -->
            <div class="col-md-12" id="toppings">
                <h2 class="menu-title ">Available Toppings</h2>
                <hr class="featurette-divider">
            </div>
            <!-- boba pearls -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/tapiocaPearl.avif" alt="Tapioca Pearl toppings">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Tapioca Pearl</strong>: made with our fresh tapioca startch and sweet brown sugar</p>
                    </div>
                </div>
            </div>
            <!-- egg pudding -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top " src="menu-images/puddingTopping.jpg" alt="Egg pudding">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Egg Pudding</strong>: made with whole milk, non-dairy creamer, lactose-free milk, and sugar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">*contains dairy</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- coconut rainbow jelly -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="menu-images/rainbowJelly.webp" alt="Coconut rainbow Jelly">
                    <div class="card-body">
                        <p class="card-text"><strong class="bold-green">Coconut Rainbow Jelly</strong>: a delicious chewy texture with a coconut primary base and a unique fruit flavoring syrup</p>
                    </div>
                </div>
            </div>
        </div> <!-- end of row -->
    </div>

</div> <!-- end of boba div -->

<!-- use as js insert for modal -->
<main></main>

<div class="fixed-bottom d-flex flex-row-reverse">
    <nav class="navbar">
        <a role="button" class="btn btn-primary btn-sm m-3 p-2" href="cart">Go to Cart</a>
    </nav>
</div>
<!-- use this script to loop our modal divs and associated with <main></main> -->
<script src="javascript/modal-list.js"></script>
<include href="views/footer.html"></include>



