<!-- Modal for smoothies, avocado -->
<div class="modal fade" id="avocadoSmoothie" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add to Cart</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!-- title and price -->
                <input class="form-control bg-white" type="text" placeholder="Avocado Smoothie" value="Avocado Smoothie" readonly>
                <br>
                <input class="form-control" type="text" placeholder="6.95" value="6.95" readonly>
                <br>
                <!-- quantity amount label -->
                <label class="form-label" for="typeNumber">Quantity:</label>
                <input type="number" class="form-control"  value="1" min="1" max="99"/>
                <br>
                <!-- sweetness level -->
                <label class="form-label">Sweetness Level:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="sugar-level" value="Normal" checked>Normal
                    <label class="form-check-label" for="radio1"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="sugar-level" value="Extra Sweet">Extra Sweet
                    <label class="form-check-label" for="radio2"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="sugar-level" value="Half Sweet">Half Sweet
                    <label class="form-check-label" for="radio3"></label>
                </div>
                <br>
                <!-- Choose toppings -->
                <label class="form-label">Choose Toppings:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="topping" value="None" checked> None
                    <label class="form-check-label" for="radio4"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="topping" value="Tapioca"> Tapioca
                    <label class="form-check-label" for="radio5"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="topping" value="Rainbow Jelly"> Rainbow Jelly
                    <label class="form-check-label" for="radio6"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="topping" value="Pudding"> Pudding
                    <label class="form-check-label" for="radio7"></label>
                </div>
            </div>
            <!-- button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-m btn-outline-warning " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-m btn-outline-warning ">Save</button>
            </div>
        </div>
    </div>
</div> <!-- end of modal -->