<include href="views/header.html"></include>
<title>Team Charm | Tea Shop | THANK YOU!</title> <!-- tab title -->
<include href="views/navigation.html"></include>

<!-- START OF TOP summary page -->
<div class="position-relative overflow-hidden text-center bg-light">
  <!-- PROMPT ORDER NOW AND SLOGAN -->
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">THANK YOU!</h1><br>
    <p class="lead font-weight-normal">{{ @SESSION.firstName }} {{@SESSION.lastName}} </p>
    <p> Your order has been sent! We emailed
      you via  ({{ @SESSION.email }}) a confirmation with order detail and receipt. We will shortly send you a text to
    ({{ @SESSION.phone  }}) when your order is near ready.</p>

    <img class="img-fluid img-thumbnail opacity-75 my-2" src="menu-images/green-milk-tea.jpg"  alt="Green Milk Tea">

  </div>


  <!-- CONTACT US-->
  <div class="col-md-5 p-lg-5 mx-auto my-5" id="contact">
    <h1 class="display-4 font-weight-normal">Contact US</h1><br>
    <div class="card-body">
      <p>1221 D St NE, Auburn, WA 98002</p>
      <p>(253) 911-8333</p>
      <hr class="featurette-divider">
      <h2>Open Hours</h2>
      <p>teamcharm@email.com</p>
      <p>Mon - Sun</p>
      <p>9:00 am - 10:00 pm</p>
    </div>
    <img class="img-fluid img-thumbnail opacity-75 my-2" src="images/badge.png"  alt="Pokemon Badge">
  </div>

</div>

</body>
</html>
