/* pink font trio is : pink, deeppink, and salmon
green: #8ae78a
brown: #806464*/

/*having an image background*/
body {
    background-image: url("http://jgonzalez.greenriverdev.com/328/team-charm/images/bobaBackground.jpg");
    background-size: 50%;

}

/*nav-bar styling bg color*/
nav.navbar.navbar-expand-sm {
    background-color: pink;
    opacity: 90%;
}
/*drop down hover color*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:salmon;
}
.col-md-12.text-center.uk-panel-box {
    padding: 40px;
    background-color: white;
    border-radius: 40px;
}
/*Font Fmaily - google fonts */
h1,h2,h5,p,li,.sidenav, h4{
    font-family: 'Quicksand', sans-serif;
    opacity: 80%;

}

/*Centering the content to center of the div*/
.col-md-6.col-sm-12.color_description.text-center {
    padding: 150px 0;
}

/*Hover to full opacity for most fonts*/
h1:hover,h2:hover,h5, p:hover, li:hover, .sidenav a:hover,.sidenav:hover, nav.navbar.navbar-expand-sm:hover  {
    opacity: 100%;
}
/*img slide show height */
.slides {
    width: 100%;
}
/*max height on witdth on hoem carousel*/
.carousel-inner{
    width:100%;
    max-height: 300px !important;
}
/*card class img width and height*/
.card-img-top  {
    width:100%;
    max-height: 340px !important;
}
    /*button colors and padding*/
a.btn.btn-primary, h5 {
    background-color: pink;
    border-color: pink;
    padding: 1rem;
}
/*remove under line on a href amd keep color pink*/
a, nav-link {
    color: pink;
    text-decoration: none; /* no underline */
}
/*green font color when a href is hover*/
a:hover,.bold-green:hover, nav.navbar.navbar-expand-sm:hover {
    color: #8ae78a;
    text-decoration-style: solid;
}
/*button hover pink border and brown font*/
a.btn:hover, .sidenav a:hover,.sidenav:hover, h5:hover {
    background-color: #8ae78a;
    color: #806464;
}
/*logo size*/
.logo {
    height: 50px;

}
/*logo hover to shake*/
.logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
/*Nav bar logo shake animation*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*side bar code */
.sidenav {
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background: pink;
    overflow-x: hidden;
    padding: 8px 0;
    opacity: 80%;
}
/*side bar a href code*/
.sidenav a {
    padding: 5px 5px 5px 12px;
    font-size: 12px;
    color: white;
    display: block;
}


/*hover border pink on menu album and opacity on selection*/
.card:hover {
    border-color: deeppink;
    opacity: 80%;
}


/*Menu hover*/
.menu-title:hover {
    color: pink;
}

/*Styling for the footer*/
.col-md-12.uk-panel-box.bg-light {
    border-radius: 20px;
}

/*modal backdrop gradient color when pop up*/
.modal-backdrop {
    background: linear-gradient(45deg, pink, #8ae78a);
}


