/*--------------------MAIN CSS STYLING ---------------------------*/
/*having an image background*/
body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("http://jgonzalez.greenriverdev.com/328/team-charm/images/bobaBackground.jpg");
    background-size: 50%;

}

/*--------------------NAV CSS STYLING ---------------------------*/


/*nav bar for cart content, centering the text content within cart img*/
/*button colors and padding*/
a.btn.btn-primary, h5 {
    background-color: pink;
    border-color: pink;
    padding: 1rem;
}
/*opacity for cart font in cart number*/
.cart-center {
    opacity: 100%;
}
div.shopping {
    position: relative;
    text-align: left;
}
/*nav-bar styling bg color*/
nav.navbar.navbar-expand-sm {
    background-color: pink;
}
.navbar .navbar-collapse {
    text-align: center;
}

/*--------------------HOME PAGE CSS STYLING ---------------------------*/


/*logo size*/
.logo {
    height: 50px;

}
/*logo hover to shake*/
.logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
/*Nav bar logo shake animation*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*img slide show height */
.slides {
    width: 100%;
}


/* The progress container (grey background) */
.progress-container {
    background: pink;
    height: 1em;
    width: 100%;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    background:  #8ae78a;
    height: 1em;
    width: 0%;
}

/*--------------------MENU CSS STYLING ---------------------------*/

    /*green font color when a href is hover*/
 nav.navbar.navbar-expand-sm:hover {
    color: #8ae78a;
    text-decoration-style: solid;
}
/*green font color when a href is hover*/
/*remove under line on a href amd keep color pink*/
a, nav-link {
    color: pink;
    text-decoration: none !important; /* no underline */
}

/*card class img width and height*/
.card-img-top  {
    width:100%;
    max-height: 340px !important;
}
/*hover border pink on menu album and opacity on selection*/
.card:hover {
    border-color: #8ae78a;
}
/*modal backdrop gradient color when pop up*/
.modal-backdrop {
    background: linear-gradient(45deg, pink, #8ae78a);
}
nav.navbar.navbar-expand-sm:hover {
    color: #8ae78a;
    text-decoration-style: solid;
}
/*button hover pink border and brown font*/
.sidenav a:hover,.sidenav:hover, h5:hover {
    background-color: #8ae78a;
    color: #806464;
    opacity: 100%;
}

/*side bar code */
.sidenav {
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background-color: #8ae78a;
    overflow-x: hidden;
    padding: 8px 0;
    opacity: 80%;
}


/*side bar a href code*/
.sidenav a {
    padding: 5px 5px 5px 12px;
    font-size: 12px;
    color: white;
    display: block;
}


/*--------------------CART CSS STYLING ---------------------------*/
/*--------------------CHECKOUT CSS STYLING ---------------------------*/
/*--------------------ADMIN CSS STYLING ---------------------------*/
body.admin {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


